/target
/lib
/classes
/checkouts
pom.xml
/dcpm.app
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins

.README.md.swp
.cake/*
tags

syx/fw105.syx

/build/*

bin/dcpm/*.clj
bin/dcu/*.clj
.metadata
.settings

foo.txt

data/*

build/dcpm.app/Contents/Info.plist
